<div class="page-width wide">

<!--   <div class="grid__item1 wide post-large--two-thirds1 push--post-large--one-sixth1"> -->

    <div class="rte1">
      {{ page.content }}
    </div>

<!--   </div> -->

</div>
