<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
<!--       <h1 class="section-header--title">{{ page.title }}</h1> -->
    </div>

    <div class="rte text-center">
      <h1>{{ page.content }}</h1>
      <br>
      <a href="/account/logout"><button type="button" class="btn">Log Out</button></a>
    </div>

  </div>

</div>

<script>
//   $(window).load(function(){ setTimeout( location.assign('/pages/welcome'),2000 ); });
</script>
