{% layout none %}
{% if customer  %}
  {% include 'customer-account-common-code' with 'theme-layout-code' %}
  
  {% if customer_role_tag == Role_User or customer_role_tag == Role_FSUser %}
  	{% assign routTo = "" %}
  {% elsif customer_role_tag == Role_Manager %}
  	{% assign routTo = "account" %}
  {% elsif customer_role_tag == Role_Printer %}
  	{% assign routTo = "account" %}
  {% elsif customer_role_tag == Role_ASM %}
  	{% assign routTo = "account" %}
  {% elsif customer_role_tag == Role_Admin %}
  	{% assign routTo = "account" %}
  {% elsif fs_shop_active %}
    {% assign routTo = "account" %}
  {% endif %}
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
      <head>
          <title>Catalog</title>
          <meta content="0; url=/{{ routTo }}" http-equiv="refresh" />
      </head>
      <body>

      </body>
  </html>
{% endif %}
