{% layout none%}
{% if customer  %}
  {% if customer.tags contains "Region:NorthEast" %}
    {% assign customer_region_tag = "Region:NorthEast" %}
  {% endif %}  
  {% if customer.tags contains "Region:California" %}
    {% assign customer_region_tag = "Region:California" %}
  {% endif %}
  {% if customer.tags contains "Region:Chicago" %}
    {% assign customer_region_tag = "Region:Chicago" %}
  {% endif %}
  {% if customer.tags contains "Region:Mountain" %}
    {% assign customer_region_tag = "Region:Mountain" %}
  {% endif %} 
  {% if customer.tags contains "Region:SouthEast" %}
    {% assign customer_region_tag = "Region:SouthEast" %}
  {% endif %}      
  {% if customer.tags contains "Region:MN" %}
    {% assign customer_region_tag = "Region:MN" %}
  {% endif %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Catalog</title>
      	<meta content="0; url={{shop.secure_url}}/collections/{{ customer_region_tag | remove: 'Region:' | downcase | append: '-my-products'  }}" http-equiv="refresh" />
	</head>
	<body>
		
	</body>
</html>
